$mediumBreakpoint: theme('screens.md');

.carousel {
  --swiper-theme-color: theme('colors.black');
  --swiper-navigation-size: 20px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 3px;
  --swiper-pagination-bullet-inactive-color: theme('colors.gray.300');
  --swiper-pagination-bullet-inactive-opacity: 1;
  padding-bottom: theme('padding.6');

  :global(.swiper-pagination-bullet) {
    border-radius: 3px;
  }

  :global(.swiper-pagination) {
    bottom: 0;
  }

  :global(.swiper-pagination-bullet-active) {
    --swiper-pagination-bullet-width: 20px;
  }

  // :global(.swiper-button-disabled) {
  //   @apply block
  // }

  :global(.swiper-button-prev), :global(.swiper-button-next) {
    @media (max-width: $mediumBreakpoint) {
      @apply hidden;
    }
  }

}
