@reference "tailwindcss";

.numberInput {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;

  display: none;

  :global(.separator) {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }

  :global(.field) {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;

    input {
      width: 100%;
      height: 100%;
      outline: none;
      font-size: 19px;
      margin-left: 12px;
      border-radius: 3px;
      text-align: center;
      border: 1px solid #999;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }
}

.slider {
  height: 3px;
  position: relative;
  background: theme('colors.gray.100');
  border-radius: 3px;

  :global(.progress) {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 3px;
    background: theme('colors.gray.800');
  }
}

.rangeInput {
  position: relative;
  height: 30px;

  input {
    position: absolute;
    width: 100%;
    height: 3px;
    top: -3px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-webkit-slider-thumb {
      height: 18px;
      width: 18px;
      border: 2px solid white;
      border-radius: 50%;
      background: theme('colors.gray.800');
      pointer-events: auto;
      -webkit-appearance: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }

    &::-moz-range-thumb {
      height: 18px;
      width: 18px;
      border: 2px solid white;
      border-radius: 50%;
      background: theme('colors.gray.800');
      pointer-events: auto;
      -moz-appearance: none;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }
  }
}
